<div>
    <h2>Join Lists</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="join-list.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Join List
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinName"><span>Join Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinTime"><span>Join Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinOpenid"><span>Join Openid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinPhone"><span>Join Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinNick"><span>Join Nick</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinIcon"><span>Join Icon</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinStatus"><span>Join Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinPrice1"><span>Join Price 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinPrice2"><span>Join Price 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinEntercode"><span>Join Entercode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activity"><span>Activity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinForm"><span>Join Form</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderNo"><span>Order No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="joinList in vm.joinLists track by joinList.id">
                    <td><a ui-sref="join-list-detail({id:joinList.id})">{{joinList.id}}</a></td>
                    <td>{{joinList.joinName}}</td>
                    <td>{{joinList.joinTime | date:'medium'}}</td>
                    <td>{{joinList.joinOpenid}}</td>
                    <td>{{joinList.joinPhone}}</td>
                    <td>{{joinList.joinNick}}</td>
                    <td>{{joinList.joinIcon}}</td>
                    <td>{{joinList.joinStatus}}</td>
                    <td>{{joinList.joinPrice1}}</td>
                    <td>{{joinList.joinPrice2}}</td>
                    <td>{{joinList.joinEntercode}}</td>
                    <td>{{joinList.activity}}</td>
                    <td>{{joinList.joinForm}}</td>
                    <td>{{joinList.orderNo}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="join-list-detail({id:joinList.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="join-list.edit({id:joinList.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="join-list.delete({id:joinList.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
